{% extends 'admintest/base.html' %}
{% load staticfiles %}
{##}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{% block main %}
{#<head>#}
{##}
{#<head>#}
{#    <meta charset="utf-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <meta name="description" content="free-educational-responsive-web-template-webEdu">#}
{#    <meta name="author" content="webThemez.com">#}
{#    <title>rEc$corE</title>#}
{#    <link rel="favicon" href="{% static 'rEcScorE/images/favicon.png'%}">#}
{#    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">#}
{#    <link rel="stylesheet" href="{% static 'rEcScorE/css/bootstrap.min.css'%}">#}
{#    <link rel="stylesheet" href="{% static 'rEcScorE/css/font-awesome.min.css'%}">#}
{#    <link rel="stylesheet" href="{% static 'rEcScorE/css/bootstrap-theme.css'%}" media="screen">#}
{#    <link rel="stylesheet" href="{% static 'rEcScorE/css/style.css'%}">#}
{#    <link rel='stylesheet' id='camera-css' href="{% static 'rEcScorE/css/camera.css'%}" type='text/css' media='all'>#}
{#    <link rel="shortcut icon" href="{% static 'rEcScorE/images/logorec.png'%}">#}
{##}
{#    to display bouncing name#}
{#    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>#}
{#    <script type="text/javascript" src="http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/alphabet.js"></script>#}
{#    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->#}
{#    <!--[if lt IE 9]>#}
{#    <script src="{% static 'rEcScorE/js/html5shiv.js'%}"></script>#}
{#    <script src="{% static 'rEcScorE/js/respond.min.js'%}"></script>#}
{#    <![endif]-->#}
{##}
{##}
{##}
{#{% block main %}#}
{#<header id="head">#}
{#    <div class="container">#}
{#        <div class="heading-text">#}
{#            <a href=""><img src="{% static 'rEcScorE/images/logorec.png'%}" style= "width:300px;text-align:center"></a>#}
{#            <!--<h1 class="animated flipInY delay1">rEc$corE</h1>-->#}
{#            <a href='signup.html' target="_self">#}
{#            <button type="button" class="infos-button1">Track yourself</button>#}
{#            </a>#}
{#            <button onclick="location.href = 'www.yoursite.com';" id="myButton" class="float-left submit-button" >Home</button>#}
{#        </div>#}
{##}
{#        <div class="fluid_container">#}
{#            <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">#}
{#                <div data-thumb="{% static 'rEcScorE/images/slides/thumbs/img1.jpg'%}" data-src="{% static 'rEcScorE/images/slides/img2.jpg'%}">#}
{#                    <h2>We develop.</h2>#}
{#                </div>#}
{#                <div data-thumb="{% static 'rEcScorE/images/slides/thumbs/img5.jpg'%}" data-src="{% static 'rEcScorE/images/slides/img5.jpg'%}">#}
{#                </div>#}
{#                <div data-thumb="{% static 'rEcScorE/images/slides/thumbs/my team.jpg'%}" data-src="{% static 'rEcScorE/images/slides/my team.jpg'%}">#}
{#                </div>#}
{#            </div>#}
{#            <!-- #camera_wrap_3 -->#}
{#        </div>#}
{#        <!-- .fluid_container -->#}
{#    </div>#}
{#</header>#}
{##}
{#<section class="main-contents">#}
{#    <h1 style="text-align:center;font-size:50px;background-color:aqua">Register Yourself Through your Employer<br>and<br>Track your#}
{#        performance.</h1>#}
{##}
{#           <canvas class="container" id="myCanvas" style="align-content: flex-start; width:1190px; height:500px">#}
{##}
{#         </canvas>#}
{##}
{#</section>#}
{#<canvas class="container" id="myCanvas" style="align-content: flex-start; width:1190px; height:500px">#}
{##}
{#         </canvas>#}
{#<section class="call-to-action text-center">#}
{#    <div class="text-all">#}
{#        <h2 style="text-align:center;font-size:50px;Color:brown">Inhance RECRUITMENT SKILLS </h2><br><br><br><br>#}
{#        <h3 style="text-align:center;font-size:30px;color:black">Make sure you recruit the Quality professionals.</h3>#}
{##}
{#        <a href='signup.html' target="_self">#}
{#        <button style="position:relative" class="infos-button">Check How?</button>#}
{#        </a>#}
{#    </div>#}
{#</section>#}
{#{% endblock %}#}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{#<!-- Fixed navbar -->#}
{#<!--<div class="logo">-->#}
{#<!--<a href=""><img src="assets/images/consultadd.png" width="300" padding="50" align="center"></a>-->#}
{#<!--</div>-->#}
{#<div class="navbar navbar-inverse">#}
{#     <a href=""><img src="{% static 'rEcScorE/images/consultadd.png'%}" width="300" padding="50" align="center"></a>#}
{##}
{#    <div class="container">#}
{##}
    {#    </div>#}
{##}
{#</div>#}
{##}
{#<!-- /.navbar -->#}
{##}
{#<!-- Header -->#}
{##}
{#<!-- /Header -->#}
{##}
{##}
{#to paly background video#}
{#<section class ="text-all" >#}
{#    <canvas id="myCanvas" style="align-content: center"></canvas>#}
{##}
{#       <div class="footer-section">#}
{##}
{#           <canvas class="container" id="myCanvas" style="align-content: flex-start; width:1190px; height:500px">#}
{##}
{#           <script type="text/javascript" src="http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/bubbles.js"></script>#}
{#           <script type="text/javascript" src="{% static 'rEcScorE/js/bounce.js'%}"></script>#}
{#         </canvas>#}
{##}
{##}
{#    #}
{#<button id="vidpause" style ="Color:#000000">Pause</button>#}
{#<video autoplay loop poster="{% static 'rEcScorE/video/my.3gpp' %}" id="bgvid">#}
{#<source src="{% static 'rEcScorE/video/my.3gpp' %}" type="video/3gpp">#}
{#<source src="polina.mp4" type="video/mp4">#}
{#</video>#}
{#</section>#}
{##}
{#<!-- JavaScript libs are placed at the end of the document so the pages load faster -->#}
{##}
{##}
{#<script>#}
{#var canvas = document.getElementById("myCanvas");#}
{#var ctx =#}
{#myName.font = "30px Comic Sans MS";#}
{#myName.fillStyle = "red";#}
{#myName.textAlign = "center";#}
{##}
{#ctx.();#}
{#</script>#}
{#Then some JavaScript to the bottom of the page:#}
{#<script>#}
{#var vid = document.getElementById("bgvid");#}
{#var pauseButton = document.getElementById("vidpause");#}
{#function vidFade() {#}
{#vid.classList.add("stopfade");#}
{#}#}
{#vid.addEventListener('ended', function() {#}
{#// only functional if "loop" is removed#}
{#vid.pause();#}
{#// to capture IE10#}
{#vidFade();#}
{#{);#}
{#pauseButton.addEventListener("click", function() {#}
{#vid.classList.toggle("stopfade");#}
{#if (vid.paused) {#}
{#vid.play();#}
{#pauseButton.innerHTML = "Pause";#}
{#{ else {#}
{#vid.pause();#}
{#pauseButton.innerHTML = "Paused";#}
{#}#}
{#{)#}
{#</script>#}
{##}
{#<!-- JavaScript libs are placed at the end of the document so the pages load faster -->#}
{##}
{#<script>#}
{#		jQuery(function(){#}
{##}
{#			jQuery('#camera_wrap_4').camera({#}
{#                transPeriod: 500,#}
{#                time: 3000,#}
{#				height: '600',#}
{#				loader: 'false',#}
{#				pagination: true,#}
{#				thumbnails: false,#}
{#				hover: false,#}
{#                playPause: false,#}
{#                navigation: false,#}
{#				opacityOnGrid: false,#}
{#				imagePath: 'rEcScorE/images/'#}
{#{);#}
{##}
{#{);#}
{##}
{##}
{#</script>#}
{#-------------------------------------------------#}
{# 2nd trial to build base.html started here#}
{#--------------------------------------------------#}
{#    <meta charset="utf-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <meta name="description" content="free-educational-responsive-web-template-webEdu">#}
{#    <meta name="author" content="webThemez.com">#}
{#    <title>rEc$corE</title>#}
    {#<link rel="favicon" href="assets/images/favicon.png">#}
{#    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">#}
{#    <link rel="stylesheet" href="{% static 'rEcScorE/css/bootstrap.min.css'%}">#}
{#    <link rel="stylesheet" href="{% static 'rEcScorE/css/font-awesome.min.css'%}">#}
{#    <link rel="stylesheet" href="{% static 'rEcScorE/css/bootstrap-theme.css'%}" media="screen">#}
{#    <link rel="stylesheet" href="{% static 'rEcScorE/css/style.css'%}">#}
{#    <link rel='stylesheet' id='camera-css' href="{% static 'rEcScorE/css/camera.css'%}" type='text/css' media='all'>#}
{#    script fot bouncing text#}
{#    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>#}
{#    <script type="text/javascript" src="http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/alphabet.js"></script>#}
{#    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->#}
{#    <!--[if lt IE 9]>#}
{#    <script src="{% static 'rEcScorE/js/html5shiv.js'%}"></script>#}
{#    <script src="{% static 'rEcScorE/js/respond.min.js'%}"></script>#}
{#    <![endif]-->#}
{#</head>#}
<body>
{#<!-- Fixed navbar -->#}
{#<!--<div class="logo">-->#}
{#<!--<a href=""><img src="assets/images/consultadd.png" width="300" padding="50" align="center"></a>-->#}
{#<!--</div>-->#}

{#<div class="navbar navbar-inverse">#}
{#     <a href=""><img src="{% static 'rEcScorE/images/consultadd.png'%}" width="300" padding="50" align="center"></a>#}
{##}
{#</div>#}

<!-- /.navbar -->

<!-- Header -->
<div id="head">
    <div class="container">
        <div class="heading-text">
            <a href=""><img src="{% static 'rEcScorE/images/logorec.png'%}" width="300" align="center"></a>
            <!--<h1 class="animated flipInY delay1">rEc$corE</h1>-->
            <a href="/app/login/" target="_self">
            <button type="button" class="infos-button1">Track yourself</button>
            </a>
        </div>

        <div class="fluid_container">
            <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
                <div data-thumb="{% static 'rEcScorE/images/slides/thumbs/img1.jpg'%}" data-src="{% static 'rEcScorE/images/slides/img2.jpg'%}">
                    <h2>We develop.</h2>
                </div>
                <div data-thumb="{% static 'rEcScorE/images/slides/thumbs/img5.jpg'%}" data-src="{% static 'rEcScorE/images/slides/img5.jpg'%}">
                </div>
                <div data-thumb="{% static 'rEcScorE/images/slides/thumbs/my team.jpg'%}" data-src="{% static 'rEcScorE/images/slides/my team.jpg'%}">
                </div>
            </div>
            <!-- #camera_wrap_3 -->
        </div>
        <!-- .fluid_container -->
    </div>
</div>
<!-- /Header -->
<section class="main-contents">
    <h1 style="text-align:center;font-size:50px;background-color:#000000">Register Yourself Through your Employer<br>Track your
        performance.</h1>
     <canvas id="myCanvas"style="align-content: flex-start; width:1190px; height:500px"></canvas>
    <script type="text/javascript" src="http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/bubbles.js"></script>
    <script type="text/javascript" src="{% static 'rEcScorE/js/bounce.js'%}"></script>
    <h1 style="text-align:center;font-size:50px;background-color:#000000">Manage Hired/To be Hired Candidates<br>Keep All Your Web-Accounts at one Place</h1>
{##}
{#           <canvas class="container" id="myCanvas" style="align-content: flex-start; width:1190px; height:500px">#}
{##}
{#         </canvas>#}
{##}
</section>

<section class="call-to-action text-center">#}
    <div class="text-all">
        <h2 style="text-align:center;font-size:50px;Color:brown">Inhance RECRUITMENT SKILLS </h2><br><br><br><br>
        <h3 style="text-align:center;font-size:30px;color:black">Make sure you recruit the Quality professionals.</h3>

        <a href='/app/floww/' target="_self">
        <button style="position:relative" class="infos-button">Check How?</button>
        </a>
    </div>
</section>

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
{#<script src="{% static 'rEcScorE/js/modernizr-latest.js'%}"></script>#}
{#<script type='text/javascript' src='{% static 'rEcScorE/js/jquery.min.js'%}'></script>#}
{#<script type='text/javascript' src='{% static 'rEcScorE/js/jquery.mobile.customized.min.js'%}'></script>#}
{#<script type='text/javascript' src='{% static 'rEcScorE/js/jquery.easing.1.3.js'%}'></script>#}
{#<script type='text/javascript' src='{% static 'rEcScorE/js/camera.min.js'%}'></script>#}
{#<script src="{% static 'rEcScorE/js/bootstrap.min.js'%}"></script>#}

<script>
		jQuery(function(){

			jQuery('#camera_wrap_4').camera({
                transPeriod: 800,
                time: 3000,
				height: '600',
				loader: 'false',
				pagination: true,
				thumbnails: false,
				hover: false,
                playPause: false,
                navigation: false,
				opacityOnGrid: false,
				imagePath: 'rEcScorE/images/'
			});

		});


</script>
    </body>
{% endblock %}
{#</body>#}
{#</html>#}