{% extends "admintest/base.html" %}
{% load staticfiles %}
{% block main %}
<head>
 <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
</head>

{#    <body style= "background:url({% static 'rEcScorE/images/speed13.jpg'%} ) no-repeat center center fixed" ></body>#}
       <div class="row">
        <div class="col s12 m6">
          <div class="card teal lightSpeedOut-1">
            <div class="card-content white-text">

            <h1 style="color: darkred"> Your Profile will be displayed here</h1>
               <h3 style="text-align: center; color:blue">This page content will be available soon</h3>
                  <p>Click <a href="/userprofile/userinfo/{{ user.id }}/">here</a> to edit your profile information</p>
                      {% for i in user_profile %}
                      <span class="card-title">{{ i.your_name }}</span>
                      {% endfor %}
            </div>
{#            <div class="card-action">#}
              <a href="/userprofile/editprofile/">This is a link</a>
{#              <a href="#">This is a link</a>#}
{#            </div>#}
          </div>
        </div>
      </div>


{% endblock %}