{%  load staticfiles %}
<!DOCTYPE html>
<html>
{#<body>#}
{#<head lang="en">#}
{#    <meta charset="UTF-8">#}
{#    <meta charset="utf-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <meta name="description" content="free-educational-responsive-web-template-webEdu">#}
{#    <meta name="author" content="webThemez.com">#}
{#    <title>rEc$corE</title>#}
{#    <link rel="favicon" href="{% static 'rEcScorE/images/favicon.png'%}">#}
{#    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">#}
{#    <link rel="stylesheet" href="{% static 'rEcScorE/css/bootstrap.min.css'%}">#}
{#    <link rel="stylesheet" href="{% static 'rEcScorE/css/font-awesome.min.css'%}">#}
{#    <link rel="stylesheet" href="{% static 'rEcScorE/css/bootstrap-theme.css'%}" media="screen">#}
{#    <link rel="stylesheet" href="{% static 'rEcScorE/css/style.css'%}">#}
{#    <link rel='stylesheet' id='camera-css' href="{% static 'rEcScorE/css/camera.css'%}" type='text/css' media='all'>#}
{#    <link rel="shortcut icon" href="{% static 'rEcScorE/images/logorec.png'%}">#}
{#    <script src="{% static 'rEcScorE/js/modernizr-latest.js'%}"></script>#}
{#    <script type='text/javascript' src='{% static 'rEcScorE/js/jquery.min.js'%}'></script>#}
{#    <script type='text/javascript' src='{% static 'rEcScorE/js/jquery.mobile.customized.min.js'%}'></script>#}
{#    <script type='text/javascript' src='{% static 'rEcScorE/js/jquery.easing.1.3.js'%}'></script>#}
{#    <script type='text/javascript' src='{% static 'rEcScorE/js/camera.min.js'%}'></script>#}
{#    <script src="{% static 'rEcScorE/js/bootstrap.min.js'%}"></script>#}
{#    <link rel='stylesheet' id='camera-css' href="{% static 'rEcScorE/css/camera.css'%}" type='text/css' media='all'>#}
{#    <link rel="shortcut icon" href="{% static 'rEcScorE/images/logorec.png'%}">#}
{#    <script type="text/javascript" src="http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/bubbles.js"></script>#}
{#    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>#}
{#    <script type="text/javascript" src="http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/alphabet.js"></script>#}
{#    to display bouncing name#}
{##}
{#    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->#}
{#    <!--[if lt IE 9]>#}
{#    <script src="{% static 'rEcScorE/js/html5shiv.js'%}"></script>#}
{##}
{#    <script type="text/javascript" src="{% static 'rEcScorE/js/bounce.js'%}"></script>#}
{#    <script src="{% static 'rEcScorE/js/respond.min.js'%}"></script>#}
{#    <![endif]-->#}
{##}
{##}
{##}
{#    <title></title>#}
{#</head>#}
{#<body>#}
{#<div class="navbar navbar-inverse">#}
{#     <a href=""><img src="{% static 'rEcScorE/images/consultadd.png'%}" width="300" padding="50" align="center"></a>#}
{##}
{#    <div class="container">#}
{##}
    {#    </div>#}
{#</div>#}
<head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="free-educational-responsive-web-template-webEdu">
    <meta name="author" content="webThemez.com">
    <title>rEc$corE</title>
    {#<link rel="favicon" href="assets/images/favicon.png">#}
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="{% static 'rEcScorE/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'rEcScorE/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'rEcScorE/css/bootstrap-theme.css'%}" media="screen">
    <link rel="stylesheet" href="{% static 'rEcScorE/css/style.css'%}">
    <link rel='stylesheet' id='camera-css' href="{% static 'rEcScorE/css/camera.css'%}" type='text/css' media='all'>

{#    --------------------------------------------------------------------------#}
    {#script fot bouncing text#}
{#    ------------------------------------------------------------------------------------#}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/alphabet.js"></script>
 {#    -----------------------------------------------------------------------#}
{#    script to run the camera fakeover slide show at background#}
{#    --------------------------------------------------------------------------#}
    <script src="{% static 'rEcScorE/js/modernizr-latest.js'%}"></script>
    <script type='text/javascript' src='{% static 'rEcScorE/js/jquery.min.js'%}'></script>
    <script type='text/javascript' src='{% static 'rEcScorE/js/jquery.mobile.customized.min.js'%}'></script>
    <script type='text/javascript' src='{% static 'rEcScorE/js/jquery.easing.1.3.js'%}'></script>
    <script type='text/javascript' src='{% static 'rEcScorE/js/camera.min.js'%}'></script>
    <script src="{% static 'rEcScorE/js/bootstrap.min.js'%}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{% static 'rEcScorE/js/html5shiv.js'%}"></script>
    <script src="{% static 'rEcScorE/js/respond.min.js'%}"></script>
    <![endif]-->
</head>
<body>
<div class="navbar navbar-inverse">
     <a href="http://127.0.0.1:8000/admin/" target="_blank"><img src="{% static 'rEcScorE/images/consultadd.png'%}" width="300" padding="50" align="center"></a>
{#      <a href="" style="align-content:r">aDmiN</a>#}
</div>

{% block main %}

{% endblock %}
{% block content %}

{% endblock %}
</body>


{#</body>#}
</html>